body {
  margin: 0;
}
.printButton {
  width: auto;
  margin: 10px 50px 10px 50px;
  padding: 20px;
  background: #9b4dca;
  color: #fff;
  border-radius: 100px;
  text-decoration: none;
  line-height: 1;
  font-size: 50px;
  border: none;
}
#operating-screen {
  margin: 0 auto;
  width: 390px;
  height: 390px;
  background-color: yellow;
}
#background_white {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70%;
  border: none;
  background-image: url('background_white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 175%;
}
.drag-and-drop {
  width: 50px;
  height: 50px;
  cursor: move;
  position: absolute;
  z-index: 1000;
}
.character {
  width: 100px;
  height: 100px;
  cursor: move;
  position: absolute;
  z-index: 1000;
}
#red-box {
  background-color: red;
}
#blue-box {
  background-color: blue;
}
#yellow-box {
  background-color: yellowgreen;
}

.drag {
  z-index: 1001;
}
#bodyColor_config {
  display: flex;
}
.bodyColor {
  width: 30px;
  height: 40px;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid grey;
}
#redBody {
  background: #ff0000;
}
#greenBody {
  background: #00ff00;
}
#blueBody {
  background: #0000ff;
}
@media print {
  .noprint {
    background: white;
  }
  #redBody,
  #greenBody,
  #blueBody {
    background: white;
    border: none;
  }
  .header {
    font-size: 40px;
    text-align: center;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 2px #000000 solid;
    padding: 20px;
  }
  @page {
    margin: 0;
  }
}
