.printButton {
  width: 80%;
  margin: 2vh 10% 2vh 10%;
  padding: 5vw;
  background: #9b4dca;
  color: #fff;
  border-radius: 100vw;
  text-decoration: none;
  line-height: 1;
  font-size: 15vw;
  border: none;
}
#operating-screen {
  width: 98vw;
  height: 120vw;
  background-color: yellow;
}
#background_white {
  margin: 0;
  padding: 0;
  width: 98vw;
  height: 70vw;
  border: none;
  background-image: url('background_white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 175%;
}
.drag-and-drop {
  width: 20vw;
  height: 20vw;
  cursor: move;
  position: absolute;
  z-index: 1000;
}
#red-box {
  background-color: red;
}
#blue-box {
  background-color: blue;
}
#yellow-box {
  background-color: yellowgreen;
}

.drag {
  z-index: 1001;
}
#bodyColor_config {
  display: flex;
}
.bodyColor {
  width: 30px;
  height: 40px;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid grey;
}
#redBody {
  background: #ff0000;
}
#greenBody {
  background: #00ff00;
}
#blueBody {
  background: #0000ff;
}
@media print {
  .noprint {
    display: none;
  }
  .drag-and-drop {
    position: relative;
  }
  .header {
    font-size: 40px;
    text-align: center;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  td,
  th {
    border: 2px #000000 solid;
    padding: 20px;
  }
  @page {
    margin: 0;
  }
}
